################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Calculator.WPF/.vs/Calculator.WPF/FileContentIndex/0f299cd5-7077-4474-ae13-605df71b837e.vsidx
/Calculator.WPF/.vs/Calculator.WPF/FileContentIndex/b1b21623-e671-414c-bb85-6a8fcdaaf59c.vsidx
